<div class="col-12 text-center">
  <button mat-raised-button color="primary" (click)="openDialog()">
    Ajouter un secret
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="wrapper">
  @if(hasSecret){
  <table>
    <tr>
      <th></th>
      <th>Type</th>
      <th>Secret</th>
      <th>Expiration</th>
      <th>Description</th>
    </tr>
    @for (secret of secretList; track secret) {
    <tr class="separator">
      <td>
        <button mat-icon-button color="warn" (click)="removeSecret(secret)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td>{{ secret.type }}</td>
      <td>{{ secret.value }}</td>
      <td>{{ secret.expiration | date : "d-M-y" }}</td>
      <td>{{ secret.description }}</td>
    </tr>
    }
  </table>
  } @else{
  <div class="text-center empty">
    <div class="alert alert-danger" role="alert">
      <p>
        <mat-icon color="warn">warning</mat-icon>
        <br />
        Attention vous n'avez ajouté aucun secret or votre client exige un
        secret. <br />
        Ajoutez en un en cliquant sur "Ajouter un secret"
      </p>
    </div>
  </div>
  }
</div>
