<div class="clients-container">
  <div class="container-fluid">
    <mat-toolbar>
      <div class="col-3">
        <h2>Clients</h2>
      </div>
    </mat-toolbar>
    <mat-toolbar class="justify-content-end">
      <div>
        <a mat-raised-button color="primary" [routerLink]="['create']"
          >Nouveau client</a
        >
      </div>
    </mat-toolbar>
  </div>
  <div class="container-fluid">
    <mat-form-field>
      <input
        matInput
        placeholder="Filter"
        (keyup)="viewModel.filterSubject.next($any($event.target).value)"
      />
    </mat-form-field>
    <table
      mat-table
      [dataSource]="viewModel.clientTableDatasource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <mat-menu #appMenu="matMenu">
            <a mat-menu-item [routerLink]="[row.clientId, 'details']"
              ><mat-icon>more_horiz</mat-icon>Details</a
            >
            <a mat-menu-item [routerLink]="[row.clientId, 'edit']"
              ><mat-icon>edit</mat-icon>Edit</a
            >
            <a mat-menu-item [routerLink]="[row.clientId, 'details']"
              ><mat-icon>delete</mat-icon>Delete</a
            >
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>settings</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="ClientId">
        <th mat-header-cell *matHeaderCellDef>Client Id</th>
        <td mat-cell *matCellDef="let client">{{ client.clientId }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="GrantType">
        <th mat-header-cell *matHeaderCellDef>Grant types</th>
        <td mat-cell *matCellDef="let client">
          <mat-chip-set aria-label="Allowed Grant types">
            @for(gt of client.allowedGrantTypes; track gt.id;){
            <mat-chip color="primary">{{ gt.grantType }}</mat-chip>
            }
          </mat-chip-set>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="viewModel.displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: viewModel.displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      [length]="viewModel.resultsLength"
      [pageSizeOptions]="viewModel.pageSizeOptions"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
